{% extends 'global_system/base.html' %}


{% block title %}Ожидайте доставку!{% endblock %}

{% block content %}
<div class="container text-center py-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <h1 class="display-4 text-success mb-4">🎉 Заказ успешно оформлен!</h1>

            <p class="lead">
                Спасибо за ваш заказ! Мы приступаем к его обработке.
            </p>

            <div class="card my-4">
                <div class="card-body">
                    <p class="card-text">
                        Ожидаемое время доставки:30 минут
                    </p>
            </div>

        </div>
    </div>
</div>
{% endblock content %}